.header{
    color: white;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0px;
    z-index: 2;
  border-bottom: 1px solid rgb(61, 60, 60);
  }
  .header_left {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
  }
  .header_center {
    display: flex;
    align-items: center;
  }
  .header_right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
  }
  
  .header_img {
    width: 200px;
    height: 80px! important;
    cursor: pointer;
  }
  .centerInfo {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .header_left:nth-child(1){
      cursor: pointer;
  }
  .header_right:nth-child(n){
      cursor: pointer;
  }
  
  input {
    width: 500px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid rgb(46, 45, 45);
    cursor: text;
    color: rgba(255, 255, 255, 0.815)!important;
    font-size: 1.05rem;
      padding: 5px;
    
      font-weight: 500;
  }
  input:focus{
      border: 0.5px solid rgba(0, 110, 255, 0.699);
    
  }
  .centerSearch{
      background-color:rgb(46, 45, 45);
      color:gray;
      padding: 5px 0px;
      width: 80px!important;
      height: 22px!important;
  }
  .avatar{
      width: 30px !important;
      height: 30px !important;
  }